.links{
    margin: 20px;
    background-color: burlywood;
    padding: 10px;
}
.navbar {
    margin-bottom: 20px;
}

.singleTodo {
    display: flex;
    justify-content: space-around;
    padding: 5px;    
    border: 2px solid black;
    margin-bottom: 5px;
    background-color: cadetblue;
    border-radius: 10px;

}
.todoTitles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}
.todoTitles > input {
        height: 20px;
        border: 1px solid #41B883;
        background-color: #34495E;
    
}